:root {
    --main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 90px;
    flex-wrap: wrap;
}
.header_links {
    display: flex;
    gap: 32px;
}

.header_links .links {
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 17px;
    line-height: 20px;
    color:black;
}

.header_btn {
    width: 112px;
    height: 44px;
    background-color:#8247FF;
    color:white; 
    font-family: var(--main-font);
    font-size: 17px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}

.section_first h1 {
    font-family: var(--main-font);
    font-size: 90px;
    text-align: center;
    margin-top: 110px;
    line-height: 92px;
    font-weight: 450;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 50px;
    margin-top: 211px;
    margin-bottom: 143px;
}

.card {
    position: relative;
}

.card > img {
    display: block;
    border-radius: 4px; /* Небольшое скругление */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Тень для объема */
}

.card-left {
    z-index: 2; 
    margin-right: -50px; 
    margin-bottom:-145px; 
}

.card-right {
    align-self: first baseline;
    margin-top: 105px; /* Чуть опускаем или поднимаем для хаотичности */
}

.card-center {
    display: flex;     
    justify-content: center;
    align-items: center;
}

.inner-img {
    margin-right: 105px;
    position: absolute;
    border-radius: 50%; /
    box-shadow: none;
}

.firstSection_bottom {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
    font-family: var(--main-font);
    font-family: 24px;
    font-weight: lighter;
}

.circle {
    background-color: black;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.section_second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section_second h4 {
    font-size: 53px;
    font-family: var(--main-font);
    font-weight:500;
    text-align: center;
    margin-top:58px;
    margin-bottom: 53px;
}

.section_second button {
    width: 226px;
    height: 80px;
    border-radius: 200px;
    border:none;
    background-color:#8247FF;
    color:white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor:pointer;
    
}

.section_second button svg {
  width: 55px;
  height: 25px;
}
.marquee-wrapper {
    width: 100%; 
    overflow: hidden; 
    margin-top: 273px; 
    margin-bottom: 193px;
}
.section-img {
    display: flex;
    column-gap: 67px;
    width: max-content;
    padding-right: 67px;  
    margin-top: 0; 
    animation: scroll 15s linear infinite;
}

.section-img h4 {
    font-size: 322px;
    align-self: start;

}

.section-img img {
    width: 416px;
    height: 288px;
    align-self: flex-end;
    border-radius: 10%;
}

.section_third {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 30px;
    
}

.section_third_text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    

    

}

.section_third_text h3 {
    width: 314px;
    height: 36px;
    font-family: var(--main-font);
    font-size: 24px;
    margin-left: 10px;
    
    
}

.section_third p {
    width: 490px;
    height: 415px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        /* Сдвигаем ленту влево ровно на половину */
        
        transform: translateX(-50%);
    }
}